<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $("a").hover(function() {
        $(this).next(".sub-menu").toggle();
      });
    });
  </script>
  <style>
    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu > li {
      margin-right: 10px;
    }

    .sub-menu {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div>
    <ul class="menu">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Acerca de</a></li>
     <li>
       <a href="#">Productos</a>
       <ul class="sub-menu">
          <li><a href="#">Celulares</a></li>
         <li><a href="#">Computadoras</a></li>
          <li><a href="#">Accesorios</a></li>
        </ul>
     </li>
     <li><a href="#">Contacto</a></li>
   </ul>
  </div>
  <div id="main" role="main" class="container">
      {{ content }}
  </div>

   <div class="wrapper-footer">
     <div class="container">
       <footer class="footer">
         {% include svg-icons.html %}
       </footer>
    </div>
  </div>
{% include analytics.html %}  

</body>
</html>
